# These are intellij project files
*.iml
.idea

# This is a cache for gradle
.gradle

# These are compiled artifacts
/build

# This is where intellij builds the project
/out

# SECURITY ALERT! YOU SHOULD NOT COMMIT YOUR GCP SECURITY FILE!!!
gc_api_file.json
